

:root {
    --cor0: #09EBE3;
    --cor1: #0EACEB;
    --cor2: #0E66EB;
    --cor3: #0EEB98;
    --cor4: #0E21EB;
    
}



* {
    padding: 0px;
    margin: 0px;
}
body {
    height: 100vw;
    background-color: lightgray;
}

a.menu::before {
    content: '\00A0\1F539\00A0';
    height: 50px;
}
header {
    background-color: var(--cor4);
    display: flex;
    border-bottom: 50px solidrgb(0, 0, 0);
    padding: 10px 10px;  
    justify-content: space-between;
}
nav {
    background-color: var(--cor4);
    
}

nav > a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
}
nav a:hover {
    color: var(--cor3);
}

.link {
    display: inline-block;
    background-color: var(--cor1);
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}