body {
    height: 100vw;
}

.root {
    --cor0: #09EBE3;
    --cor1: #0EACEB;
    --cor2: #0E66EB;
    --cor3: #0EEB98;
    --cor4: #0E21EB;
    --cor5: #0E1FEB;
}



* {
    padding: 0px;
    margin: 0px;
}

a.menu::before {
    content: '\00A0\1F539\00A0';
    height: 50px;
}
header {
    text-align: center;
    
}
nav {
    background-color: #0E1FEB;
    width: 960px;
    margin:auto;
    text-align: right;
    padding: 20px;
}
nav  a {
    text-align: center;
    color:white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;

    
}
nav > a:hover {  
    
    
}

.importante {
    background-color: #09EBE3;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px;
    color: #0E1FEB;
    border-radius: 5px;
}