body {
    height: 100vw;
}
* {
    padding: 0px;
    margin: 0px;
}

a.menu::before {
    content: '\00A0\25AB';
}
header {
    text-align: center;
    
}
nav {
    background-color: #0E1FEB;
    width: 960px;
    margin:auto;
    text-align: right;
    padding: 20px;
}
nav  a {
    text-align: center;
    color:white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;

    
}
nav > a:hover {
    text-decoration: underline  ;
    
    
}

.importante {
    background-color: #09EBE3;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px;
    color: #0E1FEB;
    border-radius: 5px;
}